h1, h2, h3, h4, h5 {
font-family: 'playfair Display', serif;
}

.navbar-band {
 font-family: 'playfair display', serif;
 font-width: 900;
 font-size: 36px;
}
.blog-post {
    margin-bottom: 30px;
}

.blog-post-title {
    font-size: 30px;
}

footer {
    background: #f9f9f9;
    padding: top 60px;
    padding-bottom: 60px ;
}
